{% extends 'home.html' %}
{% block sidenav %}

    <a href="http://localhost:5000/studentlist">Student List</a>
    <a class="active" href="http://localhost:5000/addstudent">Add Student</a>

{% endblock %}
{% block content %}
  {% if error %}
         <p style="color: rgb(255, 0, 0);"><strong>Error:</strong> {{ error }}
  {% endif %} 
<form action = "http://localhost:5000/addstudent" method = POST>
    <label>StudentID</label>
    <input type="number" name="studentID" maxlength="8" required>
    <br>
    <label>Name</label>
    <input type="text" name="name" required>
    <br>
    <label>Date of birth</label>
    <input type="date" name="date" required>
    <br>
    <label>Math</label>
    <input type="number" name= "math" max="10" step="0.01">
    <br>
    <label>Physic</label>
    <input type="number" name= "physic" max="10" step="0.01">
    <br> 
    <label>English</label>
    <input type="number" name= "english" max="10" step="0.01">
    <br> 
    <input type="submit" value="Add">
  </form>
{% endblock %}