<!DOCTYPE html>
<html lang="en">
<head>
<title>MyWebsite</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/naruto.jpg");
    background-attachment: fixed;
  }
  

  p {
    color: white;
    text-align: center;
  }
  h1, h4, h5, h6{
      color: black;
  }
  table, th, td {
    border: 1px solid black;
  }
  /* Style the side navigation */
  .sidenav {

    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: rgb(85, 82, 74);
    overflow-x: hidden;
  }
  

  /* Side navigation links */

  .header {
    padding: 1px;
    background: #0d2e00;
    color: white;
    text-align: center;
  }
  
  a.active{
    background-color:green;
    color: rgb(35, 39, 38);
    padding: 25px;
  }

  .sidenav a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color:rgb(216, 231, 216);
    color: rgb(39, 35, 35);
  }
  
  /* Style the content */
  .content {
    margin-left: 160px;
    padding-left: 0px;
  }

  
  input[type=text] {
  width: 40%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
  }
    input[type=password] {
    width: 40%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    }
  
  input[type=submit]{
    padding: 5px 5px;
  }

    input[type=number] {
    width: 40%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    }

    input[type=email] {
    width: 40%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:rgb(216, 231, 216);
  padding: 25px;
  color: rgb(39, 35, 35);
}

</style>
</head>
<body>
<div class="sidenav">
    {%block sidenav %}{%endblock%}
</div>

<div class="header">
    {%block header %}{%endblock%}
</div>
<div class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {%block content %}{%endblock%}
</div>
</body>
</html>