{% extends 'base.html' %}

{% block header %}
<ul>
  <li style = "float: left; color: white; margin-left: 5px;"> <h2> MyWebSite</h2></li>
  <li><a href="http://localhost:5000/register">Register</a></li>
  <li><a class="active" href="http://localhost:5000/login">Login</a></li>
  <li><a href="http://localhost:5000/">Home</a></li>
  
</ul>
{% endblock %}
{% block content %}
  {% if error %}
         <p style="color: rgb(255, 0, 0);"><strong>Error:</strong> {{ error }}
  {% endif %}
    <h1>Login</h1>
    <form action = "http://localhost:5000/login"  method = POST>
      <label for="Email">Email</label>
      <br>
      <input type="email" name="email" id="email" required>
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password" required>
      <br>
      <label for="optcode"> OPT code </label>
      <br>
      <input type="number" name="optcode" required >
      <br>
      <input type="submit" value="Login">
    </form>
  
{% endblock %}