{% extends 'home.html' %}
{% block sidenav %}

    <a class="active" href="http://localhost:5000/studentlist">Student List</a>
    <a href="http://localhost:5000/addstudent">Add Student</a>

{% endblock %}
{% block content %}
<h2 style="color: black; text-align: left;">This is your class</h2>
<table style="width:60%">
    <tr>
      <th>StudentID</th>
      <th>Name</th> 
      <th>Date_of_Birth</th>
      <th>Math</th>
      <th>Physic</th>
      <th>English</th>
      <th>Average</th>
    </tr>
    {% for i in students %}
    <tr>
      <td>{{i._id}}</td>
      <td>{{i.Name}}</td>
      <td>{{i.Date_of_birth}}</td>
      <td>{{i.Math}}</td>
      <td>{{i.Physic}}</td>
      <td>{{i.English}}</td>
      <td>{{i.Average}}</td>
    </tr>
    {% endfor %}
  </table>
  <form action="http://localhost:5000/studentlist" method="POST">
    <label>SortBy:</label>
    <select style="margin: 3px; padding: 5px;" id="sortby" name="sortby">
      <option value="StudentID">StudentID</option>
      <option value="Name">Name</option>
      <option value="Date_of_birth">Date_of_birth</option>
      <option value="Math">Math</option>
      <option value="Physic">Physic</option>
      <option value="English">English</option>
      <option value="Average">Average</option>
    </select>
    <br>
    <input style="padding: 5px; margin: 3px;" type="submit" value="Sort">
  </form>
  <form action="http://localhost:5000/deletestudent" method="POST">
    <label>Delete</label>
    <select style="margin: 3px; padding: 5px;" id="deleteby" name="deleteby">
      <option value="StudentID">StudentID</option>
      <option value="Name">Name</option>
      <option value="Date_of_birth">Date_of_birth</option>
      <option value="Math">Math</option>
      <option value="Physic">Physic</option>
      <option value="English">English</option>
      <option value="Average">Average</option>
    </select>
    <select style="margin: 3px; padding: 5px;" id="operator" name="operator">
      <option value="<="><=</option>
      <option value="=">=</option>
      <option value=">=">>=</option>
    </select>
    <input type="text" name="value" required>
    <br>
    <br>
    <input style="padding: 5px; margin: 3px;" type="submit" value="Delete">
  </form>
{% endblock %}
